.background {
    height: 700px;
    background: rgb(47,54,70);
    background: linear-gradient(63deg, rgba(47,54,70,1) 0%, rgba(86,97,125,1) 35%, rgba(115,123,146,1) 100%);
}

.topmenu {
    height: 80px;
    background: rgb(25,159,218);
    background: linear-gradient(63deg, rgba(25,159,218,1) 0%, rgba(15,176,205,1) 35%, rgba(86,206,219,1) 100%);
}
.topsection {
    height: 50px;
    background: rgb(40,45,65);
}

.middlesection {
    height: 500px;
    padding: 0px;
}

.sidemenu {
    height: 511px;
    width: 80px;
    background: rgb(40,45,65);
    float: left;
}
.mainsection {
    height: 511px;
    width: 984px; 
    background: rgb(51,57,72);
    background: linear-gradient(54deg, rgba(51,57,72,1) 0%, rgba(85,93,121,1) 35%, rgba(114,122,145,1) 100%);
    margin-right: 0;
}