/*Header Section*/
.header {
    height: 80px;
    background-color: rgb(34, 34, 34);
}
    .header ul {
        padding-top: 25px;
    }
    .header ul li {
        list-style:none;
        display: inline;
        color: white;
        margin-right: 30px;
        font-size: 20px;
    }

/*Camer box section*/
.camera-box {
    background-color: rgb(209, 209, 209);
    text-align: center;
}

/*====================================================*/
/*Face image box*/
/*Add a wrapper div around the image u want to detect*/
#wrapper {
    height: 900px;
    width: 100%;
    text-align: center;
    top: 80px;
}
    
/*Face detection border*/
.face-box {
    border: 2px solid red;
    position: absolute;
}