@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/*Menu Section*/
.header {
    height: 50px;
    background-color: rgb(21, 32, 46);
}
    .header img {
        
    }
    .header ul {
        text-align: center;
    }
    .header ul a {
		float:right;
	}    
    .header ul li {
        list-style:none;
        display: inline;
    }
    .header ul li:nth-of-type(2) {
        color:white;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding-top: 50px;
    }
    .header ul li:nth-of-type(3) {
        font-size: 12px;
        padding: 3px;
        color: rgba(0,255,231,1);
        border: 1px solid rgba(0,255,231,1);
    }
    .header ul a:nth-of-type(1), .header ul a:nth-of-type(2), .header ul a:nth-of-type(3) {
        color: white;
        font-size: 22px;
    }
    .header ul a:nth-of-type(1) {
        padding-left: 30px;
    }
    .header ul a:nth-of-type(2), .header ul a:nth-of-type(3) {
        margin-left: 20px;
    }
    .header ul a:nth-of-type(1):hover, .header ul a:nth-of-type(2):hover, .header ul a:nth-of-type(3):hover {
        color: rgba(0,255,231,1);
    }

/*Virtual Camera Section*/
.virtual-camera {
    height: 500px;
    width: 900px;
    background-color: black;
    margin-left: 80px;
    margin-top: 50px;
}

/*Camer box section*/
.camera-box {
    background-color: rgb(209, 209, 209);
    text-align: center;
}
    .camera-box video {
        margin-top: 30px;
        background-color: black;
    }
    .camera-box canvas {
        background-color: orange;
        margin-right: 15px;
    }

/*====================================================*/
/*Face image box*/
/*Add a wrapper div around the image u want to detect*/
#wrapper {
    height: 900px;
    width: 100%;
    text-align: center;
    top: 80px;
}
    
/*Face detection border*/
.face-box {
    border: 2px solid red;
    position: absolute;
}
.face-box-test {
    border: 2px solid green;
    position: absolute;
}
